
.login-page .logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.login-page .logo img {
  max-width: 150px;
}

.imageStyling {
    text-align: center;
    
    img {
        width: 250px;  
       padding: 0px 15px 20px 15px;  
    }
}
